snippet sectionmd
<section data-markdown>
	${VISUAL}
</section>
endsnippet

snippet sectionmdf
<section data-markdown="$1" 
         data-separator-vertical="^\n\n">
	 ${VISUAL}
</section>
endsnippet
